<div class="products">
  <div routerLink="/details/{{data.id}}">
    <div class="image p-4">
      <img src="{{data.image}}" class="img-fluid">
    </div>
    <div class="body">
        <h4>{{data.title | slice:0:25}} </h4>
        <p>{{data.description | slice :0:100}} ...</p>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <div class="icons">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
    <span >{{data.price}} L.E</span>
  </div>
  <div class="">
    <button class="btn addBtn w-100" *ngIf="!addButton" (click)="addButton=true">Add To Cart
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
    <div class="d-flex justify-content-end" *ngIf="addButton">
      <input type="number" class="form-control" [(ngModel)]="amount">
      <button class="btn addBtn" (click)="addItem();addButton=false">Add</button>
    </div>
  </div>

</div>
